git/.gitconfig

config/.config/conky/wttr.png

config/.bashrc
config/.local/bin/pusheu

config/.local/bin/fd
config/.local/bin/hyfetch
config/.local/bin/neowofetch
config/.local/bin/wheel
config/.config/micro/buffers/history
config/.local/bin/shmoji
config/.config/micro/plug/wc/*
config/.local/bin/gallery-dl
config/.local/bin/ikhal
config/.local/bin/khal
config/.local/bin/khard
config/.local/bin/vdirsyncer
config/.config/vdirsyncer/contacts/
config/.config/vdirsyncer/status/
config/.config/vdirsyncer/calendar/*
config/.config/vdirsyncer/calendar_rockness/*
config/.config/vdirsyncer/calendars/kat/katcal/*
config/.local/bin/batman.sh
config/.local/bin/retroify
config/.config/vdirsyncer/calendars/
config/.local/bin/dotenv
config/.local/bin/icalendar
config/.local/bin/normalizer
config/.local/bin/x-wr-timezone
config/.config/micro/plug/
config/.local/bin/pylsp
config/.local/bin/kaomoji.sh
config/.local/bin/quote
config/.local/bin/quoterandom
config/.local/bin/discord_timest
scripts/Scripts/plex/playlists/*
scripts/Scripts/plex/playlists_m3u/*
scripts/Scripts/plex/posters/*
config/.config/mpd.conf
config/.config/rmpc/config.ron
config/.local/bin/env
config/.local/bin/env.fish
config/.local/bin/uv
config/.local/bin/uvx

.directory
scripts/Scripts/.directory
scripts/Scripts/icons
scripts/Scripts/gallery.html
scripts/Scripts/iconshare_pl/icons/*
scripts/Scripts/iconshare_pl/out/*
scripts/Scripts/urlref/links.txt

config/.local/bin/khal_reminder
config/.config/khal/config_reminder
