git/.gitconfig

config/.config/conky/wttr.png

config/.bashrc
config/.local/bin/pusheu

config/.local/bin/fd
config/.local/bin/hyfetch
config/.local/bin/neowofetch
config/.local/bin/wheel
config/.config/micro/buffers/history
config/.local/bin/shmoji
config/.config/micro/plug/wc/*
