[Desktop Entry]
Name=ComicTagger
GenericName=
Comment=
Exec=/home/kat/Downloads/Programs/ComicTagger-x86_64.AppImage
Type=Application
Icon=/media/kat/disk/Pictures/Miscellaneous/misc icons/comictagger.png
Terminal=false
