[Desktop Entry]
Name=MKVToolNix
GenericName=
Comment=
Exec=/home/kat/Downloads/Programs/MKVToolNix_GUI-82.0-x86_64.AppImage
Type=Application
Icon=/media/kat/disk/Pictures/Miscellaneous/misc icons/c0d03eb7.png
Terminal=false
