[Desktop Entry]
Name=Obsidian
GenericName=
Comment=
Exec=/home/kat/Downloads/Programs/Obsidian-1.6.7.AppImage
Type=Application
Icon=/media/kat/disk/Pictures/Miscellaneous/misc icons/2023_Obsidian_logo.svg.png
Terminal=false
