[Desktop Entry]
Name=Shotcut
GenericName=
Comment=
Exec=/home/kat/Downloads/Programs/shotcut-linux-x86_64-240128.AppImage
Type=Application
Icon=/media/kat/disk/Pictures/Miscellaneous/misc icons/shotcut-logo-640x640.png
Terminal=false
