[Desktop Entry]
Name=Soulseek
GenericName=
Comment=
Exec=/home/kat/Downloads/Programs/SoulseekQt-2018-1-30-64bit.AppImage
Type=Application
Icon=/media/kat/disk/Pictures/Miscellaneous/misc icons/soulseek-online-bigblue.png
Terminal=false
