[Desktop Entry]
Name=Waterfox
GenericName=
Comment=
Exec=/home/kat/Downloads/Programs/waterfox/waterfox
Type=Application
Icon=/media/kat/disk/Pictures/Miscellaneous/misc icons/waterfox.GgOAxZ-_.svg
Terminal=false
