<!DOCTYPE html>
<html lang="en">
<head>
	<title>[% title %]</title>

	<style>
		:root {
			--background-color: #eff1f5;
			--wrapper-color: #4d536e; /* #303446; */
		}

		html {
			background: var(--background-color);
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.wrapper {
			background: var(--wrapper-color);
			max-width: 26em;
			padding-block: .5em;
			padding-inline: .5em;
		}

		.wrapper img {
			margin-block: .1em;
			margin-inline: .1em;
		}
	</style>
</head>

<body>

<main class="wrapper">
	[% FOREACH icon IN icons %]
		<img src="[% icon %]" alt="">
	[% END %]
</main>

</body>

</html>
