# user
set from = "witnesslachesis@disroot.org"
set realname = "lachesis cain"

# smtp stuff
set imap_user = "witnesslachesis@disroot.org"
set smtp_url = "smtps://witnesslachesis@disroot.org@disroot.org:465/"
set smtp_authenticators = "login"
set imap_pass = "`pass show personal/witnesslachesis_disroot`"
set smtp_pass = "`pass show personal/witnesslachesis_disroot`"

# tls
set ssl_starttls = yes
set ssl_force_tls = yes

# mailboxes
set folder = "~/.local/mail/witnesslachesis@disroot.org"
set mbox_type = Maildir
set spoolfile = "+INBOX"
set postponed = "+Drafts"
set record = "+Sent"
set trash = "+Trash"

mailboxes =Drafts =Sent =Junk =Trash

# where the stuff goes
set header_cache = "$XDG_CACHE_HOME/mutt/witnesslachesis_disroot/headers"
set message_cachedir = "$XDG_CACHE_HOME/mutt/witnesslachesis_disroot/bodies"
set certificate_file = "$XDG_CACHE_HOME/mutt/witnesslachesis_disroot/certificates"
unset record
