[user]
	name = xxwhirlpool
	email = witnesslachesis@disroot.org
	signingkey = /home/kat/.ssh/id_rsa.pub
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
	verbose = true
[tag]
	gpgsign = true
[core]
	pager = "batcat --paging=always"
	autocrlf = input
	excludesFile = ~/.gitignore
[rerere]
	enabled = true
	autoUpdate = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
[maintenance]
	auto = true
	strategy = incremental
[alias]
    graph = log --all --graph --decorate --oneline
[help]
	autocorrect = prompt
