[user]
	name = xxwhirlpool
	email = witnesslachesis@disroot.org
	signingkey = /home/kat/.ssh/id_rsa.pub
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[core]
	pager = "batcat --paging=always"
[rerere]
	enabled = true
