[user]
	name = xxwhirlpool
	email = witnesslachesis@disroot.org
	signingkey = /home/kat/.ssh/id_rsa.pub
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
	verbose = true
[tag]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	pager = "batcat --paging=always"
	autocrlf = input
	editor = micro
[rerere]
	enabled = true
	autoUpdate = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
[maintenance]
	auto = true
	strategy = incremental
[alias]
	s = status
	a = add .
	d = diff --staged
	lc = diff HEAD~
	yolo = !git add . && git commit -m 'yolo'
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
[help]
	autocorrect = prompt
[sendemail]
	smtpserver = disroot.org
	smtpuser = witnesslachesis@disroot.org
	smtpencryption = tls
	smtpserverport = 587
[credential]
	username = witnesslachesis
	helper = "!f() { test \"$1\" = get && echo \"password=$(pass personal/witnesslachesis_disroot)\"; }; f"
[diff]
	algorithm = histogram
